.Logo {
    display: flex;
    position: relative;

    &:hover {
        transition: ease-out 0.8s;
        
        h1 {
            transition: opacity ease-in 0.4s;
            opacity: 0;
        }

        p {
            font-size: 24px;
            top:50%;
            transform: translate(0,-100%);
            text-align: center;
        }
    }

    h1 {
        font-family: 'Unkempt', cursive;
        font-size: 4.5rem;
        color: $third;
    }

    p {
        font-family: 'Special Elite', cursive;
        position: absolute;
        bottom: 0;
        transform: translate(-20%,100%);
        text-shadow: 0.5px 0.5px black;
    }
}