.MenuList {
    @include flex(space-around, center, row);
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
    text-transform: uppercase;

    .navlink {
        color: $primary;
        text-decoration: none;

        &:hover {
            @extend %onhover;
            color: $third;
        }
    }
}