.CartPage {
    @include flex(space-between, center, column);
    min-height: 50vh;

    h1 {
        align-self: flex-start;
    }

    .ProductInCartDisplay {
        width: 100%;
        @include frame-model($background-transparent, 40px);
        
        .SingleProductInCart {
            width: 100%;
            @include flex(space-around, center, column);

            .DescInCart {
                @include flex(center, center, column);
            }
        }
    }

    .CartSummary {
        align-self: flex-end;
        @include flex(center, flex-start, column);

        .totalPrice {
            color: white;
            margin: 15px 0;
            align-self: flex-end;
        }
    }

    .payBtn {
        padding: 10px 75px;
        align-self: flex-end;
    }
}

@media (min-width: 768px) {

    .CartPage {
        
        .ProductInCartDisplay {
            
            .SingleProductInCart {
                @include flex(space-around, center, row);
            }
        }
    }
}