.ProductPage {
    @include flex(center, center, row);

    .ProductInfo {
        margin-left: 10%;
        @include frame-model($background-transparent, 40px);
        
        .addToCartBtn {
            background-color: $third;
            color: $primary;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
        
            &:hover {
                @extend %onhover;
                background-color: $third-darker;
            }
        }
    }
}