.NavBar {
    @include flex(space-between, center, row);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 15%;
    padding-top: 15px;

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            @extend %onhover;
            color: $third;
        }

    }
}

.navMargin {
    margin-bottom: 45vh;
}


@media (min-width: 400px) {

    .NavBar {
        padding-top: 0;
    }

}

@media (min-width: 992px) {

    .NavBar {
        @include flex(space-evenly, center, row);

    }

}