.Sort {
    height: 100%;
    margin: 15px 0;

    &::after {
        content: '';
        width: 200px;
        height: 1px;
        position: absolute;
        background-color: $dark;
    }

    .SortBy {
        @extend %onhoverlist;
    }
}