.Sort {
    height: 100%;
    margin: 0;

    .SortSection {

        h4 {
            color: $primary;
        }
    
        .SortBy {
            @include onhoverlist($light-dark, $dark);
        }
    }

    .numberOfProductsAvailable {
        font-size: 12px;
        color: $light-dark;
    }
}

@media (min-width: 768px) {

    .Sort {
        margin-top: calc((50px - 1.5rem) / 2);

        .SortSection {

            &::after {
                content: '';
                width: 200px;
                height: 1px;
                position: absolute;
                background-color: $dark;
            }
        }
    }
}