@mixin flex($justify, $align-it, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align-it;
    flex-direction: $direction;
}

%onhover {
    transition: 0.4s ease-in;
}

%pagepadding {
    padding: 0 30px;
}

